# Node
node_modules/
npm-debug.log
yarn-error.log

# React build
frontend/build/

# Environment files
*.env
.env.*

# Docker
*.log
docker-data/
db_data/

# System
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/
